<div id="reset-password" class="full-wrap">
	<div class="card">
		<header id='login-header'>Reset Password</header>
		<form method='POST' autocomplete="on" class="form" {{action 'resetPasswd' on='submit'}}>
			{{#if processing}}
				<div class='flash'>
					Processing ...
				</div>
			{{else}}
				<div class='fe-wrap'>
					<label>New Password</label>
					{{input type="password" value=passwd placeholder="Password" }}
				</div>
				<div class='fe-wrap'>
					<label>Confirm New Password</label>
					{{input type="password" value=confirmPasswd placeholder="Confirm Password" }}
				</div>
				<div class='fe-wrap'>
					<button id='login-button' type="submit" class="btn">Reset Password</button>
				</div>
			{{/if}}
		</form>
		{{partial 'alert_message'}}
	</div>
</div>
