<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div class='modal-header'>
		<div class='pull-right buttonhover' id= 'modal-close' {{action modalhide target='view'}}>&times;</div>
	</div>
	<div class='modal-body floatLT noMargin'>
		{{#if App.user}}
			{{view App.ChangePasswordView}}
		{{else}}
			<div class="fade in">
				<div class='login-view floatLT'>{{view App.LoginView}}</div>
				<div class='divider'></div>
				<div class='signup-view floatRT'>{{view App.SignupView}}</div>
			</div>
		{{/if}}
	</div>
	<div class='modal-footer noPadding'>
		{{partial 'alert_message'}}
	</div>
</div>